<h1>List of photos</h1>

<hr>

<!-- below is a good form for adding photos -->
<form action="/insert_photo" method="post" class="form-horizontal" enctype="multipart/form-data">
  <label for="image_box">Image</label>
  <input type="file" id="image" name="image" class="form-control">

  <label for="caption_box">Caption</label>
  <textarea id="caption_box" name="query_caption">Enter a caption for the photo... </textarea>

  <button>Add photo</button>

</form>

<hr>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th>Likes</th>
    <th></th>
  </tr>

  <% @public_photos.each do |a_photo| %>
  <tr>
    <td>
      <img src="<%= a_photo.image %>" class="img-responsive">
    </td>
    <td><%= a_photo.caption %></td>
    <td><%= a_photo.owner.username %></td>
    <td><%= time_ago_in_words(a_photo.created_at) %> ago</td>
    <td><%= a_photo.likes_count %></td>
    <td>
      <a href="/photos/<%= a_photo.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>